{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<a href="/">Back</a>

{% if type != 'jwt' %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>

{% else %}
<div class="api" id="api">
    Login via api by JWT
    <input type="text" placeholder="username"/>
    <button type="button">Send ajax to /api/login</button>
</div>

{% endif %}

<script>
    var api = document.querySelector('#api')
    api.querySelector('button').addEventListener('click', () => {
        var username = api.querySelector('input').value
        if (username) {
            fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({username: username})
            }).then((response) => {
                response.json().then((json) => {
                    var token = json.token
                    location.href = '/?jwt=' + token
                })
            })
        }
    })
</script>

<style>
    .api {
        margin-top: 15px;
    }
</style>
{% endblock %}
